@model List<Mvc_Day1_Project.Models.customermodel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <title>DetailsPage</title>

</head>

<body>

    <div>

        <ul>

            @foreach (var customerItem in Model)

            {  <li>@customerItem.CustomerId</li>

                <li>@customerItem.CustomerName</li>

                <li>@customerItem.EmailId</li>

                <li>@customerItem.ContactNumber</li>

                <hr />

            }

        </ul>

    </div>

</body>

</html>

