@model Mvc_Day1_Project.Models.customermodel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <p>@Model.CustomerId</p>
        <p>@Model.CustomerName</p>
        <p>@Model.EmailId</p>
        <p>@Model.ContactNumber</p>
    </div>
</body>
</html>
